
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why Us▫️Treat&Tail</title>
    <script src="https://kit.fontawesome.com/cd72f48d0a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'assets/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/navbarstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footerstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/infoblockstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/whyus.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>




    <div id="Wrapper">

                {% include 'shop/modules/_cap.html' %}

        <div id="PlayerDIV">
            <video controls autoplay muted loop>
                <source src="{% static 'assets/video/feeding-video.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>



        <div id="Block1">
            <div class="TitleText">
                <i class="fa-solid fa-paw"></i>
                <p>The benefits of our products</p>
            </div>
            <div class="MainText">
                <p>At Treat&Tail, we believe that every dog deserves a diet that not only nourishes their body but

                    also celebrates their uniqueness! We think every furry friend should have their food crafted using

                    simple, GRAS (Generally Recognized as Safe) ingredients, carefully selected with love and

                    passion for what we do.




                    Our commitment to using organic ingredients ensures that each bite is packed with wholesome

                    goodness, free from artificial additives or fillers
                </p>
            </div>
        </div>
        <div id="AspectsWheel">
            <img src="{% static 'assets/img/whyus/AspectsWheelPH2.png' %}">
        </div>



<div id="Reviews" class="carousel-container">
  <div class="TitleText">
    <i class="fa-solid fa-paw"></i>
    <p>Pawsitive reviews from our customers</p>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Carousel Item 1 -->
      <div class="carousel-item active">
        <div class="row">
          {% for review in reviews|slice:":3" %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm review-card">
              <img src="{{ review.images.url }}" class="card-img-top" alt="Review Image">
              <div class="card-body">
                <div class="top-review-info">
                    <div class="rating_block">
                      <div class="rating_bar" style="width: {{ review.rating_percentage }}%;"></div>
                      <img src="{% static 'assets/img/ratingC_corrected_border.png' %}" alt="Rating">
                    </div>
                    <div class="card-title-block">
                        <span class="card-title">{{ review.name }}</span>
                    </div>
                </div>

                <p class="card-text">{{ review.description }}</p>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Carousel Item 2 -->
      <div class="carousel-item">
        <div class="row">
          {% for review in reviews|slice:"3:6" %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm review-card">
              <img src="{{ review.images.url }}" class="card-img-top" alt="Review Image">
              <div class="card-body">
                <div class="top-review-info">
                    <div class="rating_block">
                      <div class="rating_bar" style="width: {{ review.rating_percentage }}%;"></div>
                      <img src="{% static 'assets/img/ratingC_corrected_border.png' %}" alt="Rating">
                    </div>
                    <div class="card-title-block">
                        <span class="card-title">{{ review.name }}</span>
                    </div>
                </div>

                <p class="card-text">{{ review.description }}</p>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Carousel Item 3 -->
      <div class="carousel-item">
        <div class="row">
          {% for review in reviews|slice:"6:9" %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm review-card">
              <img src="{{ review.images.url }}" class="card-img-top" alt="Review Image">
              <div class="card-body">
                <div class="top-review-info">
                    <div class="rating_block">
                      <div class="rating_bar" style="width: {{ review.rating_percentage }}%;"></div>
                      <img src="{% static 'assets/img/ratingC_corrected_border.png' %}" alt="Rating">
                    </div>
                    <div class="card-title-block">
                        <span class="card-title">{{ review.name }}</span>
                    </div>
                </div>

                <p class="card-text">{{ review.description }}</p>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>




      <!-- Add more carousel-item blocks if needed -->
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <i class="review-arrow fa-solid fa-arrow-left"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <i class="review-arrow fa-solid fa-arrow-right"></i>
    </a>
  </div>
</div>






        {% include 'shop/modules/_footer.html' %}

    </div>
<script src="{% static 'assets/js/whyus.js' %}"></script>

</body>
</html>