{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/cd72f48d0a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'assets/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/navbarstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footerstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/infoblockstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/product.css' %}">
</head>
<body>
    {% block content %}

            <!-- Logo and Nav bar -->
            <div id="Header">
                <div id="LogoTop">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'assets/img/logo.png' %}">
                    </a>
                </div>
                    <nav>
                        <a href="{% url 'product_page' %}">The product</a>
                        <a href="{% url 'our_company' %}">Our company</a>
                        <a href="{% url 'why_us' %}">Why us?</a>
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <a href="{% url 'admin:index' %}"><i class="fa-solid fa-user-tie"></i>Admin </a>
                            {% endif %}
                            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">Logout <i class="fa-solid fa-right-from-bracket"></i> </button>
                            </form>
                        {% else %}
                            <a href="{% url 'auth' %}"> Login<i class="fa-solid fa-right-to-bracket"></i></a>
                        {% endif %}
                        <a href="{% url 'contact_us' %}">Contact Us</a>
                        <a href="{% url 'product_list' %}">Buy NOW</a>
                    </nav>

            </div>

    {% endblock %}
</body>
</html>