{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResetRequest▫️Treat&Tail</title>

    <script src="https://kit.fontawesome.com/cd72f48d0a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'assets/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/navbarstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footerstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/infoblockstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/product.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/auth/reset_password/reset.css' %}">
    {% include 'shop/modules/_bg.html' %}
</head>
<body>
    <div id="Wrapper" >
        <!-- Logo and Nav bar -->
        {% include 'shop/modules/_cap.html' %}

        <!-- Main Content -->
        <div class="content">

                <div class="main-block-done" style="width: 25% !important;">
                    <div class="container-done">
                        <span>Password request sent to your email.
                            <i class="fa-solid fa-circle-check"></i></span>

                        <span>Check Inbox and Spam box
                        <i class="fa-solid fa-envelope"></i></span>
                    </div>
                </div>


        </div>


    </div>
</body>
</html>
