{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PasswordReset▫️Treat&Tail</title>

    <script src="https://kit.fontawesome.com/cd72f48d0a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'assets/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/navbarstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footerstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/infoblockstyle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/product.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/auth/reset_password/reset.css' %}">
    {% include 'shop/modules/_bg.html' %}
</head>
<body>
    <div id="Wrapper">
        <!-- Logo and Nav bar -->
        {% include 'shop/modules/_cap.html' %}

        <!-- Main Content -->
        <div class="content">

                <div class="main-block">
                    <h3>Password Reset <i class="fa-solid fa-rotate-right"></i></h3>
                    <p>Forgot your password? Enter your email to send a reset request.</p>
                    <form method="post">
                      {% csrf_token %}
                      {{ form }}
                      <input type="submit" value="Send Email">
                    </form>
                </div>

        </div>


    </div>
</body>
</html>
